<div id="post-{{post.ID}}" class="the-post item {{ post.class }}" data-template="tease-entry_lists.twig">
  <div class="uk-card uk-card-default">
    <div class="uk-card-body uk-padding-small fat-border-top">
      <h3 class="uk-card-title uk-margin-small-top">{{post.title}}</h3>
      <p>{{ __('Published Date:', 'cautious-octo-fiesta') }} {{post.date | date}}</p>
      <p>{{ __('Draw Date:', 'cautious-octo-fiesta') }} {{ post.draw_date }}</p>
      <a href="{{ pdf_upload_url }}" class="uk-button uk-button-primary" download>{{ __('Download', 'cautious-octo-fiesta') }}</a>
    </div>
  </div>
</div>