{#
/**
 * Block Name: Featured Content
 *
 * This is the template that displays the Featured Content block.
 */
#}

{% if is_preview %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
{% endif %}

{% set class_width = 'uk-width-1-1' %}
{% if latest_posts_three|length == 1 %}
  {% set class_width = 'uk-width-1-2@m' %}
{% elseif latest_posts_three|length > 1 %}
  {% set class_width = 'uk-width-2-5@m' %}
{% endif %}

{% set width_px = 720 %}
{% set height_px = 620 %}
{% if latest_posts_three|length == 1 %}
  {% set width_px = 1200 %}
  {% set height_px = 620 %}
{% endif %}
{% if latest_posts_three is empty %}
  {% set width_px = 1600 %}
  {% set height_px = 800 %}
{% endif %}

{% set read_more_txt = 'Read more' %}
{% set view_all = 'View all' %}
{% set no_display_text = 'There are no posts to display. Please add some posts via Posts > Add post.' %}

{% if latest_posts_one is not empty %}
  <section id="BlogPosts" class="home-blog-posts uk-container">
    <div class="uk-grid" uk-grid>
      <div class="home-blog-left first-post {{class_width}}">
        {% for post in latest_posts_one %}
          <div class="post uk-text-center">
            <img 
            {% if not is_preview %}data-{% endif %}src="{{ post.thumbnail.src|resize(width_px, height_px)|e('esc_url')|default('https://picsum.photos/' ~ width_px ~ '/' ~ height_px ~ '?random=1') }}" 
            alt="{{post.thumbnail.alt}}" 
            width="{{width_px}}" height="{{height_px}}" 
            {% if not is_preview %}uk-img{% endif %}>
            <a class="uk-link-reset" {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %}>
              <h3 class="uk-margin-top">{{post.title}}</h3>
            </a>
            <p>{{ post.preview.length(22).force.read_more('') }}</p>
            <a {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %} class="uk-button uk-button-default uk-button-large">{{ read_more_txt }}</a>
          </div>
        {% endfor %}
      </div>
      {% if latest_posts_three|length == 1 %}
        <div class="home-blog-right second-post {{class_width}}">
          {% for post in latest_posts_three %}
            <div class="post uk-text-center">
              <img 
              {% if not is_preview %}data-{% endif %}src="{{ post.thumbnail.src|resize(1200, 620)|e('esc_url')|default('https://picsum.photos/1200/620?random=2') }}" 
              alt="{{post.thumbnail.alt}}" 
              width="720" height="620" 
              {% if not is_preview %}uk-img{% endif %}>
              <a class="uk-link-reset" {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %}>
                <h3 class="uk-margin-top">{{post.title}}</h3>
              </a>
              <p>{{ post.preview.length(22).force.read_more('') }}</p>
              <a {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %} class="uk-button uk-button-default uk-button-large">{{ read_more_txt }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if latest_posts_three|length > 1 %}
        <div class="home-blog-right next-three-posts uk-width-3-5@m">
          <div class="uk-child-width-1-1 uk-grid" uk-grid>
            {% for post in latest_posts_three %}
              <div class="post stacked">
                <div class="uk-child-width-1-2@m uk-grid uk-flex uk-flex-middle uk-grid" uk-grid>
                  <div>
                    {% set loop_no = loop.index + 2 %}
                    <img 
                      {% if not is_preview %}data-{% endif %}src="{{ post.thumbnail.src|resize(720, 509)|e('esc_url')|default('https://picsum.photos/720/620?random=' ~ loop_no) }}" 
                    alt="{{post.thumbnail.alt}}" 
                    width="720" height="509" 
                    {% if not is_preview %}uk-img{% endif %}>
                  </div>
                  <div>
                    <a class="uk-link-reset" {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %}>
                      <h3 class="uk-h4 uk-margin-remove">{{post.title}}</h3>
                    </a>
                    <p class="uk-margin-small">{{ post.preview.length(18).force.read_more('') }}</p>
                    <div class="uk-margin-small-top">
                      <a {% if not is_preview %}href="{{post.link|e('esc_url')}}"{% endif %} class="feature-link uk-text-uppercase uk-text-emphasis">{{ read_more_txt }}</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    {% if fn('get_option', 'page_for_posts') and latest_posts_three|length > 1 %}
      <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <a {% if not is_preview %}href="{{fn('get_permalink', fn('get_option', 'page_for_posts'))}}"{% endif %} class="uk-button uk-button-large uk-button-default">{{view_all}}</a>
      </div>
    {% endif %}
  </section>
{% else %}
  {{no_display_text}}
{% endif %}