{#
/**
 * Block Name: Cover section
 *
 * This is the template that displays the Cover section block.
 */
#}

{% if is_preview %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
{% endif %}

<!-- some nice image ids: 1015, 1036, 1038, 1041, 1042, 1044, 1045, 1051, 1056, 1057, 1067, 1069, 1068, 1078, 1080, 1083, 10 -->
{% set image_src = Image(fields.image).src|resize(1920, 800)|default(default_theme_img) %}

{% set image_alt = Image(fields.image).alt|default('Cover image') %}
{% set heading = fields.heading|default('Lorem ipsum dolor sit amet consectetur') %}
{% set message = fields.message|default('Lorem ipsum dolor sit amet') %}
{% set button_text = fields.button_text|default('Learn more') %}
{% set button_link = fields.button_link|default('#CTA') %}

<div id="CoverSection" class="uk-inline headercover">
  <img class="cover-img home-cover-img" 
  {% if not is_preview %}data-{% endif %}src="{{ image_src }}" 
  alt="{{ image_alt }}" 
  data-width data-height {% if not is_preview %}uk-img{% endif %}>
  <div class="uk-overlay-primary uk-position-cover">
    <div class="uk-position-center">
      <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
        <h1 class="uk-margin-large-top">{{ heading }}</h1>
        <hr class="uk-divider-small">
        <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">{{ message }}</p>
        <a {% if not is_preview %}href="{{ button_link }}"{% endif %} class="uk-button uk-button-default uk-button-large scroll">{{ button_text }}</a>
      </div>
    </div>
  </div>
</div>