<article id="post-{{ post.id|e('esc_html') }}" class="post item rmcc-article {{ post.class|e('esc_html') }}" data-template="_tease.twig">

  {% block tease_thumb %}
    {% if post.thumbnail %}
      <figure>
        <a title="{{ post.thumbnail.title|e('esc_html') }}" href="{{ post.link|e('esc_url') }}">
          <img src="{{ post.thumbnail.src|resize(w|default(600), h|default(null), pos|default(null))|e('esc_url') }}" width="{{ w|default(600) }}" alt="{{ post.thumbnail.alt|e('esc_html') }}">
        </a>
      </figure>
    {% endif %}
  {% endblock %}

  {% block tease_metas %}
    {% if (post.author or post.date or post.categories) and (post.post_type == 'post') %}
      <div class="article-meta rmcc-article-meta dotted-subs">

        {% if post.date %}
          {% set _post_dated %}
            <time>{{ fn('human_time_diff', fn('get_the_time', 'U'), fn('current_time', 'timestamp'))|e('esc_html') }}</time>
          {% endset %}
          <span class="post-date rmcc-text-capitalize">
            <span rmcc-icon="icon: file-edit; ratio: 1"></span> {{ _x('%s ago', 'Tease: date', 'basic-theme')|e('esc_html')|format(_post_dated) }}
          </span>
        {% endif %}

        {% if fn('get_post_meta', post.id, 'read_time', true) %}
          <span class="post-read-time rmcc-text-capitalize">
            <span rmcc-icon="icon: clock; ratio: 1"></span> {{ fn('get_post_meta', post.id, 'read_time', true)|e('esc_html') }}
          </span>
        {% endif %}
        
        {% if fn('comments_open')and configs.enable_post_comments and post.comments|length > 0 %}
          <span class="post-comment-count rmcc-text-capitalize">
            <span rmcc-icon="icon: comments; ratio: 1"></span> {{ post.comments|length|e('esc_html') }} <span>{{ _x('Comments', 'Tease: comments', 'basic-theme')|e('esc_html') }}</span>
          </span>
        {% endif %}

      </div>
    {% endif %}
  {% endblock %}

  {% block tease_title %}
    <h2 class="rmcc-h3 rmcc-article-title rmcc-margin-small">
      <a class="rmcc-link-heading" title="{{ post.title|e('esc_html') }}" href="{{ post.link|e('esc_url') }}">{{ post.title|e('esc_html') }}</a>
    </h2>
  {% endblock %}

  {% block tease_preview %}
    <p class="excerpt">{{ post.excerpt.length(preview_length|default(12)).force.read_more('')|e('esc_html') }}</p>
  {% endblock %}

  {% block tease_read_more %}
    <a href="{{ post.link|e('esc_url') }}" class="rmcc-button rmcc-button-link rmcc-animation-toggle rmcc-text-capitalize">
      {{ _x('Read more', 'Tease: read more', 'basic-theme')|e('esc_html') }} <span class="rmcc-animation-slide-left-small" rmcc-icon="arrow-right"></span>
    </a>
  {% endblock %}

</article>