<div class="article-meta rmcc-article-meta dotted-subs">

  {% if post.date %}
    {% set post_dated %}
      <time>{{ fn('human_time_diff', fn('get_the_time', 'U'), fn('current_time', 'timestamp'))|e('esc_html') }}</time>
    {% endset %}
    <span class="post-date">
      <span rmcc-icon="icon: file-edit; ratio: 1"></span> {{ _x('%s ago', 'Single: meta date', 'rmcc-theme')|e('esc_html')|format(post_dated) }}
    </span>
  {% endif %}

  {% if post.categories %}
    <span class="post-cats">
      <span rmcc-icon="icon: folder; ratio: 1"></span>
      {% for term in post.terms({query:{taxonomy:'category', orderby:'name', order: 'ASC'}}) %}
        <a title="{{ term|e('esc_html') }}" href="{{ term.link|e('esc_url') }}">{{ term|e('esc_html') }}</a>{{ loop.last ? '' : ', ' }}
      {% endfor %}
    </span>
  {% endif %}

  {% if fn('get_post_meta', post.id, 'read_time', true) %}
    <span class="post-read-time">
      <span rmcc-icon="icon: clock; ratio: 1"></span> {{ fn('get_post_meta', post.id, 'read_time', true)|e('esc_html') }}
    </span>
  {% endif %}
  
</div>