<ul class="rmcc-child-width-1-2" rmcc-grid>

  <li class="prev-article rmcc-text-left">
    {% if post.next %}
      <a href="{{ post.next.link|e('esc_url') }}" class="rmcc-link-reset rmcc-animation-toggle">
        <div class="rmcc-text-emphasis">
          <span class="rmcc-animation-slide-right-small" rmcc-icon="arrow-left"></span> {{ _x('Newer article', 'Single: pagination', 'basic-theme')|e('esc_html') }}
        </div>
        <div class="rmcc-text-small rmcc-text-meta rmcc-text-truncate rmcc-visible@m">{{ post.next.title|e('esc_html') }}</div>
      </a>
    {% endif %}
  </li>

  <li class="next-article rmcc-text-right">
    {% if post.prev %}
      <a href="{{ post.prev.link|e('esc_url') }}" class="rmcc-link-reset rmcc-animation-toggle">
        <div class="rmcc-text-emphasis">
          {{ _x('Older article', 'Single: pagination', 'basic-theme')|e('esc_html') }} <span class="rmcc-animation-slide-left-small" rmcc-icon="arrow-right"></span>
        </div>
        <div class="rmcc-text-small rmcc-text-meta rmcc-text-truncate rmcc-visible@m">{{ post.prev.title|e('esc_html') }}</div>
      </a>
    {% endif %}
  </li>

</ul>