{% extends "base.twig" %}
{% import "functions.twig" as functions %}

{% block styles %}
  <link rel='stylesheet' href='{{theme.link}}/assets/css/single.css' type='text/css' media='all' />
  <link rel='stylesheet' href='{{theme.link}}/assets/css/editor.css' type='text/css' media='all' />
  {% block single_styles %}
  {% endblock %}
{% endblock %}

{% block main %}
  <article id="Post-{{ post.id|e('html_attr') }}" class="{{ post.class|e('esc_html') }} {% block article_class %}uk-background-muted{% endblock %}">
    
    {% block single_header %}
      {{ functions.single_header(post) }}
    {% endblock %}

    {% block single_content %}
      <div class="article-content">
        
        {% block single_thumb %}
          {{ functions.featured_img(post.thumbnail, {w: 1200, h: 400, container: 'uk-container'}) }}
        {% endblock %}
        
        {% block single_content_protected %}
          {{ functions.the_post_content(_context) }}
        {% endblock %}
      
      </div>
    {% endblock %}
      
    {% block single_footer %}
      {% if not fn('post_password_required', post.id) %}
        {{ functions.single_footer(_context, { share: true, pagi: false, comments: false }) }}
      {% endif %}
    {% endblock %}

  </article>
{% endblock %}