<div class="comment-form">
    <form class="comment-form" id="comment-form-box" method="post" action="{{ site.site_url|e('esc_url') ~ '/wp-comments-post.php' }}">
        <fieldset class="uk-fieldset">
          {% if user %}
            <input type="hidden" name="email" value="{{ user.email|e('html_attr') }}">
            <input type="hidden" name="author" value="{{ user.name|e('html_attr') }}">
            <input type="hidden" name="url" value="{{ user.link|e('html_attr') }}">
          {% else %}
            <div class="uk-margin-small">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" required name="author" type="text" placeholder="{{ _x('Your name', 'Blog post comments - Your name placeholder', 'cautious-octo-fiesta')|e('esc_html') }}">
                </div>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" required name="email" type="email" id="email" placeholder="{{ _x('Your email', 'Blog post comments - Your email placeholder', 'cautious-octo-fiesta')|e('esc_html') }}">
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <input class="uk-input" name="url" type="url" placeholder="{{ _x('Your website address (including http:// or https://)', 'Blog post comments - Your website placeholder', 'cautious-octo-fiesta')|e('esc_html') }}">
            </div>
          {% endif %}
          <textarea id="comment-form-box" class="uk-textarea" name="comment" placeholder="{{ _x('Leave a message...', 'Blog post comments - Leave a message placeholder', 'cautious-octo-fiesta')|e('esc_html') }}" cols="60" rows="8"></textarea>
          <input name="comment_post_ID" value="{{ post.id|e('html_attr') }}" type="hidden">
          <input name="comment_parent" value="{{ comment.id|e('html_attr')|default('0') }}" type="hidden">
          <div class="uk-margin-top">
            <button type="submit" name="Submit" class="uk-button uk-button-small uk-button-secondary">{{ _x('Submit', 'Blog post comments - Submit button text', 'cautious-octo-fiesta')|e('esc_html') }}</button>
            <button type="reset" class="uk-button uk-button-small uk-button-default">{{ _x('Clear', 'Blog post comments - Clear button text', 'cautious-octo-fiesta')|e('esc_html') }}</button>
          </div>
        </fieldset>
    </form>
</div>