{% extends 'base.twig' %}

{% block styles %}
  {{ parent() }}
  <link rel='stylesheet' href='{{theme.link}}/public/css/editor.css' type='text/css' media='all' />
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="rmcc-article {{ post.class|e('esc_html') }}" data-template="single.twig">

    {% block single_header %}
      {% include 'single/header.twig' %}
    {% endblock %}

    {% block single_content %}
      <div class="single-content rmcc-background-default rmcc-section rmcc-section-small">

        {% block single_content_lead %}
          {% if post.post_excerpt and (post.post_type == 'post' or configs.enable_page_excerpts == true) %}
            <div class="single-excerpt rmcc-container rmcc-container-xsmall rmcc-margin-bottom">
              <p class="rmcc-text-lead rmcc-dropcap">{{ post.post_excerpt|e('esc_html') }}</p>
              <hr class="rmcc-divider-small">
            </div>
          {% endif %}
        {% endblock %}
        
        {% block single_content_editor %}
          <div class="content-editor gutenberg-editor">
            {{ post.content|e('wp_kses_post') }}
          </div>
        {% endblock %}
        
      </div>
    {% endblock %}

    {% block single_footer %}
      {% include 'single/footer.twig' %}
    {% endblock %}

  </article>
{% endblock %}