<div class="comment-form">
  <form class="comment-form" id="comment-form-box" method="post" action="{{ site.site_url ~ '/wp-comments-post.php' }}">
    <fieldset class="rmcc-fieldset">

      {% if user %}
        <input type="hidden" name="email" value="{{ user.user_email|e('esc_url') }}">
        <input type="hidden" name="author" value="{{ user.name|e('esc_html') }}">
        <input type="hidden" name="url" value="{{ user.link|e('esc_url') }}">
      {% else %}
        <div class="rmcc-margin-small">
          <ul class="rmcc-grid-small" rmcc-grid>

            <li class="rmcc-width-1-2@s">
              <input class="rmcc-input" required name="author" type="text" placeholder="{{ _x('Your name', 'Single: comments', 'rmcc-theme')|e('esc_html') }}">
            </li>

            <li class="rmcc-width-1-2@s">
              <input class="rmcc-input" required name="email" type="email" id="email" placeholder="{{ _x('Your email', 'Single: comments', 'rmcc-theme')|e('esc_html') }}">
            </li>

          </ul>
        </div>

        <div class="rmcc-margin-small">
          <input class="rmcc-input" name="url" type="url" placeholder="{{ _x('Your website address (including http:// or https://)', 'Single: comments', 'rmcc-theme')|e('esc_html') }}">
        </div>
      {% endif %}

      <textarea id="comment-form-box" class="rmcc-textarea" name="comment" placeholder="{{ _x('Leave a message...', 'Single: comments', 'rmcc-theme')|e('esc_html') }}" cols="60" rows="4"></textarea>
      <input name="comment_post_ID" value="{{ post.id|e('esc_html') }}" type="hidden">
      <input name="comment_parent" value="{{ comment.id|default('0')|e('esc_html') }}" type="hidden">

      <div class="rmcc-margin-top">
        <button type="submit" name="Submit" class="rmcc-button rmcc-button-small rmcc-button-primary">{{ _x('Send', 'Single: comments', 'rmcc-theme')|e('esc_html') }}</button>
        <button type="reset" class="rmcc-button rmcc-button-small rmcc-button-default">{{ _x('Clear', 'Single: comments', 'rmcc-theme')|e('esc_html') }}</button>
      </div>

    </fieldset>
  </form>
</div>