{% import "snippets.twig" as snippets %}
{% import "icons.twig" as icons %}

<footer class="site-footer uk-section uk-section-small uk-section-default theme-border-top">
  <div class="uk-container">
    <div class="uk-grid-match uk-flex uk-flex-middle uk-flex-center" uk-grid>
      <div class="footer-copy uk-width-1-1 uk-width-expand@m">
        <div class="uk-width-2-3 uk-width-1-1@m uk-align-center uk-align-left@m uk-text-center uk-text-left@m">
          {{ icons.copyicon }} {{ "now"|date("Y") }} <a href="{{ site.url|e('esc_url') }}">{{ site.title|e('esc_html') }}</a>. {{ snippets.copy_text|e('esc_html') }}
        </div>
      </div>
      <div class="scroll-to-top uk-width-auto">
        <a href="#" uk-totop uk-scroll><span class="uk-margin-small-right">{{ snippets.to_top|e('esc_html') }}<span></a>
      </div>
    </div>
  </div>
</footer>