<!DOCTYPE html>
<html {{site.language_attributes}}>

  <head>
    
    <meta charset="{{site.charset|e('html_attr')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ function('wp_head') }}
    
    {% block spec_styles %}
    {% endblock %}
    
  </head>

  {% block bodywrap %}
    <body class="{{body_class|e('html_attr')}}" data-template="base.twig">
      
      {# do function('custom_store_notice') #}

      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}
      
      <main role="main" id="MainContent">
        {% block contentwrap %}
          <section class="content-wrap uk-section uk-section-small">
            <div class="content-container uk-container">
              {% block content %}
                <p>{{ __('Sorry, nothing to display here...', 'cautious-octo-fiesta') }}</p>
              {% endblock %}
            </div>
          </section>
        {% endblock %}
      </main>
      
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
      
      {{ function('wp_footer') }}
      
      {% block spec_scripts %}
      {% endblock %}
      
    </body>
  {% endblock %}

</html>