{% block html_head_container %}

  {% include 'html_head.twig' %}
    {% block styles %}
    {% endblock %}
  </head>
  {% endblock %}

  <body class="{{ body_class }} {{ (configs.animated_preloader) ? 'no-overflow' : 'no-preloader' }}" data-template="base.twig">

    {% if configs.animated_preloader %}
      <div id="preLoader" class="preloader"></div>
    {% endif %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="rmcc-section rmcc-container rmcc-container-xsmall">

            {% if title %}
              <h1>{{ title|e('esc_html') }}</h1>
            {% endif %}

            <p>{{ description|default(_x('Sorry, nothing to display here....', 'Base: No content message', 'rmcc-theme'))|e('esc_html') }}</p>

            {% include (fn('is_404') or fn('get_post_status', post.id) == 'private') ? 'search_form.twig' ignore missing %}

          </div>
        {% endblock %}
      </div>
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}

    {{ fn('wp_footer') }}

    {% block scripts %}
    {% endblock %}

    {% if configs.animated_preloader %}
      <script type='text/javascript'>
        removePreloader = function() {
          document.getElementById('preLoader').classList.add('hidden');
          document.getElementsByTagName('body')[0].classList.remove('no-overflow');
        }
        document.body.addEventListener("load", removePreloader());
      </script>
    {% endif %}

  </body>

</html>
