{% extends "base.twig" %}

{% block spec_styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{theme.link}}/assets/css/front.css" />
{% endblock %}

{% block pageheader %}
  <div id="slideshow_banner" class="swiper-container">
    <div class="swiper-wrapper">
      
      {% for post in recent_products %}
        {% if not post._lottery_closed %}
          <div class="swiper-slide" style="background-image: url('{{post.thumbnail.src|e('esc_url')|resize(1920, 346)}}');">
            <div class="uk-overlay-primary uk-light uk-width-1-1">
              <div class="uk-section uk-secton-large">
                <div class="uk-container uk-container-expand uk-text-center">
                  <div class="">
                    <h4 class="uk-margin-small-bottom uk-h5">{{site.title|e('esc_html')}}</h4>
                    <h2 class="uk-margin-small-top uk-h1">{{ post.title|e('esc_html') }}</h2>
                    <p>{{ post.preview.length(25).force.read_more('')|e('esc_html') }}</p>
                    <a href="{{post.link|e('esc_url')}}" class="uk-button uk-button-primary">{{ __('Participate', 'cautious-octo-fiesta') }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
{% endblock %}

{% block contentbefore %}
  
  <div class="uk-section uk-section-default uk-container home-recent-products">
    <div class="uk-text-center uk-container uk-container-small uk-margin-bottom">
      <p class="uk-text-meta uk-text-uppercase uk-margin-small-bottom">{{site.title|e('esc_html')}}</p>
      <h2 class="uk-margin-remove">{{ __('Latest Competitions', 'cautious-octo-fiesta') }}</h2>
      <p class="uk-text-meta uk-margin-small-top">{{site.description|e('esc_html')}}</p>
      <hr class="uk-divider-small">
    </div>

      
      <div id="slideshow_rrecent" class="swiper-container">
        <div class="swiper-wrapper">
      
          {% for post in recent_products %}
            {% if not post._lottery_closed %}
              <div class="swiper-slide">
                {% include 'tease-product.twig' %}
              </div>
            {% endif %}
          {% endfor %}
      
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      

  </div>
  
  <div class="uk-section uk-section-muted home-recent-products">
    <div class="uk-container">
      <div class="uk-text-center uk-container uk-container-small uk-margin-bottom">
        <p class="uk-text-meta uk-text-uppercase uk-margin-small-bottom">{{site.title}}</p>
        <h2 class="uk-margin-remove">{{ __('Latest Competition Winners', 'cautious-octo-fiesta') }}</h2>
        <p class="uk-text-meta uk-margin-small-top">{{site.description}}</p>
        <hr class="uk-divider-small">
      </div>
      
      <div id="slideshow_winners" class="swiper-container">
        <div class="swiper-wrapper">
          
          {% for post in comp_winners %}
            <div class="swiper-slide">
              {% include 'tease-winners.twig' %}
            </div>
          {% endfor %}
          
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      
    </div>
  </div>
{% endblock %}

{% block spec_scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script src="{{theme.link}}/assets/js/front.js"></script>
{% endblock %}