{% extends "base.twig" %}

{% block header %}
      
  {% set thumbsrc = post.thumbnail.src|resize(1920)|default(_x('https://pharmadoors.ie/wp-content/uploads/2021/12/1.-Clean-Room-Cover-v3-scaled-1920x0-c-default.jpg', 'Homepage Cover Background Image', 'serchek-theme'))|e('esc_url') %}
  
  <header class="uk-background-cover uk-inline" style="background-image: url({{thumbsrc}});" uk-height-viewport>
    
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light uuk-overlay-default; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    
    <div class="uk-position-cover uk-overlay uk-overlay-primary overlay-contained">
      <div class="uk-position-cover uk-container uk-container-large uk-flex uk-flex-middle">
        <div class="uk-width-large cover-content">
          <h1 class="uk-heading-small">
            {{ _x('Pharma Doors by Serchek Industrial Ireland Ltd.', 'Homepage Cover Title', 'serchek-theme')|e('esc_html') }}
          </h1>
          <p class="uk-text-lead">
            {{ _x('Pharma Doors installs "High Speed" & "Steel Pedestrian" Clean Room Doors, Clean Room Windows & Smart Automated Doors.', 'Homepage Cover Description', 'serchek-theme')|e('esc_html') }}
          </p>
        </div>
      </div>
      <div class="uk-position-bottom-center uk-position-small uk-text-center">
        <span>
          {{ _x('Zone A, Mullingar Business Park, Mullingar, Co. Westmeath, N91 R761', 'Homepage Cover Address', 'serchek-theme')|e('esc_html') }} | 
        </span>
        <span>
          Tel: <a href="tel:{{ _x('044 9345884', 'Homepage Cover Phone No.', 'serchek-theme')|e('esc_html') }}">{{ _x('044 9345884', 'Homepage Cover Phone No.', 'serchek-theme')|e('esc_html') }}</a> 
        </span>
        <span>
          Email: <a href="mailto:{{ _x('info@serchek.com', 'Homepage Cover Email', 'serchek-theme')|e('esc_html') }}">{{ _x('info@serchek.com', 'Homepage Cover Email', 'serchek-theme')|e('esc_html') }}</a>
        </span>
      </div>
    </div>
    
  </header>

{% endblock %}

{% block contentwrap %}
  <div class="home-content">
    {{ post.content }}
  </div>
{% endblock %}