{% extends "base.twig" %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    <img class="cover-img home-cover-img" 
    data-src="{{post.thumbnail.src|resize(1920)|default(options.site_featured_image.url|resize(1920))|default(theme.link ~ '/assets/images/clouds1.jpg')|e('esc_url')}}" 
    alt="{{post.thumbnail.alt|default(options.site_featured_image.alt)|e('esc_html')}}" 
    data-width data-height uk-img>
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-large-top">{{ _x('Lorem ipsum dolor sit amet consectetur', 'Homepage hero title', 'cautious-octo-fiesta')|e('esc_html') }}</h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">{{ _x('Lorem ipsum dolor sit amet', 'Homepage hero sub-title', 'cautious-octo-fiesta')|e('esc_html') }}</p>
          <a href="#Next" class="uk-button uk-button-default uk-button-large scroll">{{ _x('Learn more', 'Homepage hero button text', 'cautious-octo-fiesta')|e('esc_html') }}</a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}

  <!-- under hero section -->
  <section id="Next" class="uk-section uk-section-primary">
    <div class="uk-text-center uk-container uk-container-xsmall">
      <h2 class="uk-h3">{{ _x('Lorem ipsum dolor sit amet', 'Homepage under-hero title', 'cautious-octo-fiesta')|e('esc_html') }}</h2>
      <p>{{ _x('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Consectetur adipisicing elit, sed do eiusmod tempor.', 'Homepage under-hero message', 'cautious-octo-fiesta')|e('esc_html') }}</p>
      <a class="feature-link uk-text-uppercase scroll" href="{{ _x('#Latest', 'Homepage under-hero link url', 'cautious-octo-fiesta') }}">
        {{ _x('View all competitions', 'Homepage under-hero link text', 'cautious-octo-fiesta')|e('esc_html') }}
      </a>
    </div>
  </section>
  
  <!-- latest competitions -->
  {% if latest_competitions|length > 0 %}
    <section id="Latest" class="latest-competitions uk-section uk-container">
      <h2 class="uk-text-center">{{ _x('Latest Competitions', 'Homepage latest competitions title', 'cautious-octo-fiesta')|e('esc_html') }}</h2>
      <hr class="uk-divider-small uk-text-center">
      <div id="slideshow_latest" class="swiper-container">
        <div class="swiper-wrapper">
          {% for post in latest_competitions %}
            <div class="swiper-slide">
              {% include 'tease-product.twig' %}
            </div>
          {% endfor %}
        </div>
        {% if latest_competitions|length > 3 %}
          <div class="swiper-pagination"></div>
        {% endif %}
      </div>
      {% if latest_competitions|length > 3 %}
        <div class="view-all-button uk-text-center uk-margin-medium-top">
          <a href="{{shop_endpoint|e('esc_url')}}" class="uk-button uk-button-default uk-button-large">{{ _x('View all', 'Homepage all competitions button text', 'cautious-octo-fiesta')|e('esc_html') }}</a>
        </div>
      {% endif %}
    </section>
  {% endif %}
  
  <!-- home page editor content -->
  {{post.content}}
  
{% endblock %}

{% block scripts %}
  <script type='text/javascript'>
    // latest comps swipers
    jQuery(function(){
      var latest_swiper = new Swiper('#slideshow_latest', {
        slidesPerView: 1,
        spaceBetween: 0,
        // autoplay: {
        //   delay: 4000,
        //   disableOnInteraction: true,
        // },
        // init: false,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
        },
        breakpoints: {
          960: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1290: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
        }
      });
    });
  </script>
{% endblock %}