{% extends 'base.twig' %}

{% block styles %}
  {{ parent() }}
  <link rel='stylesheet' href='{{theme.link}}/public/css/editor.css' type='text/css' media='all' />
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="rmcc-article {{ post.class|e('esc_html') }}" data-template="single.twig">
    {% block single_content %}
      <section class="single-content rmcc-section rmcc-section-secondary darken rmcc-light rmcc-preserve-color">
        <div class="rmcc-container rmcc-container-xlarge">
          <div class="content-editor gutenberg-editor">
            {{ post.content|e('wp_kses_post') }}
          </div>
        </div>
      </section>
    {% endblock %}
  </article>
{% endblock %}