{# translation-ready, escaped, formatted, semantic #}
{{ fn('timber_set_product', post) }}
<article id="{{ post.id|e('esc_html') }}" class="entry item grid-item product-grid-item product-tease {{ post.class|e('esc_html') }}" data-product-id="{{ post.id|e('esc_html') }}">
  
  {# woocommerce_template_loop_product_link_open fires here; this action is removed #}
  {% do action('woocommerce_before_shop_loop_item') %}
  
  {# product thumbnail #}
  <div class="tease-image uk-position-relative">
    <a href="{{ post.link|e('esc_url') }}">
      {# woocommerce_template_loop_product_thumbnail fires here; this action is removed. custom image markup is used below #}
      {% do action('woocommerce_before_shop_loop_item_title') %}
      <img data-src="{{ post.thumbnail.src|resize(900, 1200)|e('esc_url') }}" alt="{{ post.thumbnail.alt|e('esc_html') }}" uk-img>
    </a>
  </div>
  
  {# product details #}
  <div class="tease-details uk-margin-small-top">
    
    {% include 'tease-competition-meta.twig' %}
    
    {# product title #}
    <div class="tease-title">
      {# woocommerce_template_loop_product_title fires here; this action is removed. custom title markup is used below #}
      {% do action('woocommerce_shop_loop_item_title') %}
      <h3 class="uk-h4"><a class="uk-link-reset" href="{{ post.link|e('esc_url') }}">{{ post.title|e('esc_html') }}</a></h3>
    </div>
    
    {% include 'tease-price-rating.twig' %}
    
    {% include 'tease-buttons.twig' %}
    
  </div>
</article>