{% extends "wide-page.twig" %}

{% block _content %}
  <section class="single-content">
    <h1 class="uk-margin-remove-bottom uk-heading-small">{{post.title|e('esc_html')}}</h1>
    <div class="uk-text-meta uk-margin-large-bottom">
      {{ _x('By:', 'Post', 'loadingdock-theme')|e('esc_html') }} {{post.author|e('esc_html')}}. {{ _x('Posted:', 'Post', 'loadingdock-theme')|e('esc_html') }} {{post.date|e('esc_html')}}
    </div>
    {% include '_content.twig' %}
  </section>

  <section class="single-meta uk-margin-medium">
    <div class="social-icons uk-grid-small uk-child-width-auto" uk-grid>
      <div>Share: </div>
      <div><a href="https://www.facebook.com/sharer.php?u={{post.link|url_encode}}"><i class="fab fa-facebook-f"></i></a></div>
      <div><a href="https://twitter.com/share?text={{post.title|url_encode}}&url={{post.link|url_encode}}"><i class="fab fa-twitter"></i></a></div>
    </div>
  </section>

  <section class="single-pagination">
    <div class="article-pagination uk-child-width-1-2" uk-grid>
      <div class="prev-article uk-text-left">
        {% if post.next %}
          <a href="{{ post.next.link|e('esc_url') }}" class="uk-link-reset">
            <div class="uk-text-emphasis"><i class="fas fa-angle-left"></i> {{ _x('Previous Article', 'Post', 'loadingdock-theme')|e('esc_html') }}</div>
            <div class="uk-text-small uk-text-italic uk-width-large uk-visible@m">{{ post.next.title|e('esc_html') }}</div>
          </a>
        {% endif %}
      </div>
      <div class="next-article uk-text-right">
        {% if post.prev %}
          <a href="{{ post.prev.link|e('esc_url') }}" class="uk-link-reset">
            <div class="uk-text-emphasis">{{ _x('Next Article', 'Post', 'loadingdock-theme')|e('esc_html') }} <i class="fas fa-angle-right"></i></div>
            <div class="uk-text-small uk-text-italic uk-width-large uk-visible@m">{{ post.prev.title|e('esc_html') }}</div>
          </a>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}