<ul class="uk-margin-remove">



  yo
  {# this is for a queried taxonomy term #}
  {% if configs.live_search_taxes is not empty %}
    yoo
    {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
    {% if not (configs.disable_post_tags and tax == 'post_tag') %}
      yooo
      {% for tax in configs.live_search_taxes %}
        yoooo
        {% if result_items[tax] is not empty %}
          yooooo
          {% for item in result_items[tax] %}
            <li>
              <a class="uk-link-text" href="{{ fn('get_term_link', item)|e('esc_url') }}">
                <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    {{ item.name|e('esc_html') }}
                  </div>
                  <div clas="uk-width-auto">
                    <div class="uk-text-meta ajax-search-meta uk-text-right">
                      {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', tax)) %}
                      {{ (tax_labels.singular_name)|e('esc_html') }}
                    </div>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {# thisis for a queried post term #}
  bo
  {% if configs.live_search_types is not empty %}
    boo
    {% for type in configs.live_search_types %}
      booo
      {% if result_items[type] is not empty %}
        boooo
        {% for item in result_items[type] %}
          <li>
            <a class="uk-link-text" href="{{ fn('get_permalink', item.id)|e('esc_url') }}">
              <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                  {{ item.title|e('esc_html') }}
                </div>
                <div clas="uk-width-auto">
                  <div class="uk-text-meta ajax-search-meta uk-text-right">
                    {% set type_cpt_obj = fn('get_post_type_object', type) %}
                    {% set type_labels = type_cpt_obj.labels %}
                    {{ type_labels.singular_name|e('esc_html') }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# this is for where posts exist in a queried taxonomy term #}
  no
  {% if configs.live_search_types_in_taxes is not empty %}
    noo
    {% for type in configs.live_search_types_in_taxes %}
      nooo
      {% if configs.live_search_taxes is not empty %}
        noooo
        {% for tax in configs.live_search_taxes %}
          {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
          {% if not (configs.disable_post_tags and tax == 'post_tag') %}
            {% if result_items_within[type][tax] is not empty %}
              {% for item in result_items_within[type][tax] %}
                <li>
                  <a class="uk-link-text" href="{{ fn('get_permalink', item.id) }}">
                    <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                      <div class="uk-width-expand">
                        {{ item.title|e('esc_html') }} ({{ query_string|capitalize|e('esc_html') }})
                      </div>
                      <div clas="uk-width-auto">
                        <div class="uk-text-meta ajax-search-meta uk-text-right">
                          {% set type_cpt_obj = fn('get_post_type_object', type) %}
                          {% set type_labels = type_cpt_obj.labels %}
                          {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', tax)) %}
                          {{ _x('%1$s in %2$s', 'Search: results', 'base-theme')|e('esc_html')|format(type_labels.singular_name|e('esc_html'), tax_labels.singular_name|e('esc_html')) }}
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if not result_items and not result_items_within %}
    <li>
      <p class="padding-5 uk-padding-remove-vertical uk-margin-remove uk-text-small uk-text-muted">
        {{ _x('Sorry, we couldnt find anything for your query. Try searching for something else.', 'Search: form', 'base-theme')|e('esc_html') }}
      </p>
    </li>
  {% endif %}

</ul>