<div id="FiltersFormMainArea" class="rmcc-background-muted theme-border rmcc-border-rounded rmcc-padding-small">
  <ul class="live-search-form-main rmcc-flex rmcc-flex-middle rmcc-grid rmcc-grid-small" rmcc-grid>

    {# filters label #}
    <li class="rmcc-width-auto">
      <strong>{{ _x('Filters:', 'Archive: filters', 'base-theme')|e('esc_html') }} </strong>
    </li>

    {# blog filters: filter buttons #}
    {% if configs.blog_filters_properties.types is not empty %}
      {% for item in configs.blog_filters_properties.types %}
        {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
        {% if not (configs.disable_post_tags and item.taxKey == 'post_tag') %}
          {# do as normal here #}
          {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', item.taxKey)) %}
          {% if item.parentGroupId %}

            {# parent drop button #}
            <li class="rmcc-width-auto {{ (fn('is_child_term_archive', item.taxKey)) ? 'theme-hidden' }}">
              <a id="{{item.parentGroupId ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.parentGroupId ~ '_filters'}}">
                <span>{{ tax_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
              </a>
            </li>

            {# sub spinner: hidden to start #}
            <li id="loader_{{item.subId}}" class="loading-item rmcc-hidden">
              <div id="loading"></div>
            </li>

            {# sub button: hidden to start #}
            <li id="{{ item.subId }}" class="rmcc-hidden">
              <a id="{{item.subId ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.subId ~ '_filters'}}">
                <span>{{ _x('More %s', 'Archive: filters', 'base-theme')|format(tax_labels.name)|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
              </a>
            </li>

          {% else %}

            {# parent only drop button (no subs) #}
            <li class="rmcc-width-auto">
              <a id="{{item.formQueryKey ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.formQueryKey ~ '_filters'}}">
                <span>{{ tax_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
              </a>
            </li>

          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

  </ul>
</div>