{% for item in menu_main.get_items %}
  {% if item.children %}
    <li class="{{ item.classes|join(' ')|e('esc_html') }} rmcc-parent">
      <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
      <ul class="rmcc-nav-sub">
        {% for child in item.children %}
          <li class="{{ child.classes|join(' ')|e('esc_html') }}">
            <a href="{{ child.link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
            {% if child.children %}
              <ul class="rmcc-nav-sub">
                {% for third in child.children %}
                  <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                    <a href="{{ third.link|e('esc_url') }}">- {{ third.title|e('esc_html')}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="{{ item.classes|join(' ')|e('esc_html') }}">
      <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
    </li>
  {% endif %}
{% endfor %}