<ul class="rmcc-margin-remove">

{# {{dump(result_items.category)}} #}

  {# this is for terms that match the queried search string, e.g: 'events' #}
  {% if configs.live_search_taxes is not empty %}
    {% for tax in configs.live_search_taxes %}
      {% if not (configs.disable_post_tags and tax == 'post_tag') and result_items[tax] is not empty %}
        {% for item in result_items[tax] %}
          <li>
            <a class="rmcc-link-text" href="{{ fn('get_term_link', item)|e('esc_url') }}">
              <div class="rmcc-grid-small rmcc-flex rmcc-flex-middle" rmcc-grid>
                <div class="rmcc-width-expand">
                  {{ item.name|e('esc_html') }}
                </div>
                <div clas="rmcc-width-auto">
                  <div class="rmcc-text-meta ajax-search-meta rmcc-text-right">
                    {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', tax)) %}
                    {{ (tax_labels.singular_name)|e('esc_html') }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# this is for posts that match the queried search string, e.g: 'hello world' #}
  {% if configs.live_search_types is not empty %}
    {% for type in configs.live_search_types %}
      {% if result_items[type] is not empty %}
        {% for item in result_items[type] %}
          <li>
            <a class="rmcc-link-text" href="{{ fn('get_permalink', item.id)|e('esc_url') }}">
              <div class="rmcc-grid-small rmcc-flex rmcc-flex-middle" rmcc-grid>
                <div class="rmcc-width-expand">
                  {{ item.title|e('esc_html') }}
                </div>
                <div clas="rmcc-width-auto">
                  <div class="rmcc-text-meta ajax-search-meta rmcc-text-right">
                    {% set type_cpt_obj = fn('get_post_type_object', type) %}
                    {% set type_labels = type_cpt_obj.labels %}
                    {{ type_labels.singular_name|e('esc_html') }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if configs.live_search_types_in_taxes is not empty %}
    {% for type in configs.live_search_types_in_taxes %}
      {% if configs.live_search_taxes is not empty %}
        {% for tax in configs.live_search_taxes %}
          {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
          {% if not (configs.disable_post_tags and tax == 'post_tag') and result_items_within[type][tax] is not empty %}
            {% for item in result_items_within[type][tax] %}
              <li>
                <a class="rmcc-link-text" href="{{ fn('get_permalink', item.id) }}">
                  <div class="rmcc-grid-small rmcc-flex rmcc-flex-middle" rmcc-grid>
                    <div class="rmcc-width-expand">
                      {{ item.title|e('esc_html') }} ({{ query_string|capitalize|e('esc_html') }})
                    </div>
                    <div clas="rmcc-width-auto">
                      <div class="rmcc-text-meta ajax-search-meta rmcc-text-right">
                        {% set type_cpt_obj = fn('get_post_type_object', type) %}
                        {% set type_labels = type_cpt_obj.labels %}
                        {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', tax)) %}
                        {{ _x('%1$s in %2$s', 'Search: results', 'rmcc-theme')|e('esc_html')|format(type_labels.singular_name|e('esc_html'), tax_labels.singular_name|e('esc_html')) }}
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if not result_items and not result_items_within %}
    <li>
      <p class="padding-5 rmcc-padding-remove-vertical rmcc-margin-remove rmcc-text-small rmcc-text-muted">
        {{ _x('Sorry, we couldnt find anything for your query. Try searching for something else.', 'Search: form', 'rmcc-theme')|e('esc_html') }}
      </p>
    </li>
  {% endif %}

</ul>