{# password protected message #}
<p>{{ _x('This content is password protected. To view it please enter your password below:', 'Password protected content: message', 'rmcc-theme')|e('esc_html') }}</p>

<form class="password-form {{ (small != true) ? 'rmcc-width-large' }}" action="{{ site.site_url|e('esc_url') }}/wp-login.php?action=postpass" method="post">
  <ul class="rmcc-grid-collapse rmcc-flex rmcc-flex-middle" rmcc-grid>
    
    {# label: hidden for now #}
    <li class="rmcc-width-auto rmcc-visible@m" hidden>
      <label for="pwbox-{{ post.id|e('esc_html') }}" class="rmcc-form-label">{{ _x('Password', 'Password protected content: form placeholder', 'rmcc-theme')|e('esc_html') }}:</label>
    </li>
    
    {# password input #}
    <li class="{{ (small == true) ? 'rmcc-width-auto' : 'rmcc-width-expand' }}">
      <input 
      class="rmcc-input {{ (small == true) ? 'rmcc-form-width-medium rmcc-form-small' : 'rmcc-width-expand' }}" 
      name="post_password" 
      id="pwbox-{{ post.id|e('esc_html') }}" 
      type="password" placeholder="{{ _x('Password', 'Password protected content: form placeholder', 'rmcc-theme')|e('esc_html') }}" 
      size="20" 
      maxlength="20" />
    </li>
    
    {# submit button #}
    <li class="rmcc-width-auto">
      <input 
      class="rmcc-button rmcc-button-primary {{ (small == true) ? 'rmcc-button-small' }}" 
      type="submit" 
      name="{{ _x('Enter', 'Password protected content: button text', 'rmcc-theme')|e('esc_html') }}" 
      value="{{ _x('Enter', 'Password protected content: button text', 'rmcc-theme')|e('esc_html') }}" />
    </li>
    
  </ul>
</form>