{% block block_styles %}
{% endblock %}

{# <pre>{{dump(block.style.dimensions)}}</pre> #}

{# 

outer wrap - block.outer.wrap
container/aligner - block.container
img wrap - block.img.wrap
get_block_wrapper_attributes - block.block_wrapper_attributes
content wrap - block.inner.wrap

#}

<div class="{{block.controls.wrap_class}}"> {# rmcc-block wrap. or container-break for wides #}
  <div id="{{block.anchor|default(block.id)|e('esc_html')}}" class="{{block.controls.container_class}}" {{block.controls.align_style}}> {# container classes & align styles #}
    <div {{block.controls.img.wrapper}}> {# img background: classes & stles #}
      <div {{block.controls.spacer}}> {# get_block_wrapper_attributes #}
        <div {{block.controls.content.wrapper}}> {# colour: classes & height: classes & styles #}
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block block_scripts %}
{% endblock %}