<div {{block.controls.outer.wrap}}>
  <div {{block.controls.container.wrap}}>
    <div {{block.controls.img.wrap}}>
      <div {{block.controls.block_wrapper_attributes}}>
        <div {{block.controls.inner.wrap}}>
          <div class="rmcc-width-1-1 rmcc-inline">
            <div {{block.controls.position.wrap}}>
              {% block block_content %}
                Nothing here....
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>