{% block block_styles %}
{% endblock %}

<div class="{{block.controls.wrap_class}}">
  <div id="{{block.anchor|default(block.id)|e('esc_html')}}" class="{{block.controls.container_class}}" {{block.controls.align_style}}>
    <div {{block.controls.img.wrapper}}>
      <div {{block.controls.spacer}}>
        <div class="rmcc-card rmcc-card-body {{block.controls.bg_class}} {{block.controls.fullheight_class}}">
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block block_scripts %}
{% endblock %}