{% block block_styles %}
{% endblock %}

{# <pre>{{ dump(block.style.background) }}</pre> #}

<div class="{{ block.controls.wrapper }}">
  <div id="{{ block.anchor|default(block.id)|e('esc_html') }}" class="{{ block.controls.container }} {{ block.className|e('esc_html') }}" {{ block.controls.aligner }}>
    <div {{ block.controls.img.wrap }}>
      <div {{ block.controls.spacer }}>
        <div class="rmcc-card rmcc-card-body {{block.controls.bg_class}} {{block.controls.fullheight}}">
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block block_scripts %}
{% endblock %}