{% block block_styles %}
{% endblock %}

<div {{ block.extra.spacingAttrs }}>
  <div class="{{ block.extra.wrapper }}" data-template="_block.twig">
    <div id="{{ block.anchor|default(block.id)|e('esc_html') }}" class="{{ block.extra.container }} {{ block.className|e('esc_html') }}" {{ block.extra.align }}>
      {% block block_content %}
        Nothing here....
      {% endblock %}
    </div>
  </div>
</div>

{% block block_scripts %}
{% endblock %}