<div {{block.controls.img.wrap}}>
  <div {{block.controls.preview.wrap}}>
    <div {{block.controls.inner.wrap}}>
      <div {{block.controls.inline.wrap}}>
        <div {{block.controls.position.wrap}}>
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>