<div {{block.controls.background}}>
  <div {{block.controls.preview}}>
    <div {{block.controls.card}}>
      <div {{block.controls.content.wrap}}>
        <div {{block.controls.content.position}}>
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>