{# translation-ready, escaped, formatted, semantic #}

<nav id="MobileOffCanvas" class="mobile-slide-navbar" uk-offcanvas="overlay: true;" data-template="header-mobile-offcanvas.twig">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav-default uk-nav-parent-icon uk-position-relative" uk-nav>
      <li class="uk-nav-header theme-border-bottom">{{ _x('Menu', 'Mobile menu', 'dream-winners')|e('esc_html') }}</li>
      {% if has_menu_mobile %}
        {% for item in menu_mobile.get_items %}
          {% if item.get_children %}
            <li class="theme-border-bottom {{ item.classes | join(' ')|e('esc_html') }} uk-parent">
              <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
              <ul class="uk-nav-sub">
                {% for child in item.get_children %}
                  <li class="theme-border-top {{ child.classes | join(' ')|e('esc_html') }}">
                    <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html') }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="theme-border-bottom {{ item.classes | join(' ')|e('esc_html') }}">
              <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>