<!-- logo: from site title -->
<a class="uk-navbar-item uk-logo norican" href="{{ site.url|e('esc_url') }}">
  {{site.title|e('esc_html')|replace({' ': ''})}}
</a>

{% if theme_logo_url %}
  <!-- logo: from cuztomizer logo setting. we wil use the text based logo for now due to the sticky header styles. possibly use svg logo? -->
  <!-- <a href="{{ site.url|e('esc_url') }}">
    <img class="uk-logo" 
    data-src="{{ theme_logo_url|resize(253)|e('esc_url') }}" 
    data-width data-height 
    alt="{{ site.title|e('esc_html') }} Logo" 
    uk-img>
  </a> -->
{% endif %}