{# translation-ready, escaped, formatted, semantic #}
{% extends "page.twig" %}

{% block single_header_content %}
  <div class="uk-container uk-container-xsmall uk-text-center">
    <h1 class="uk-margin-large-top">{{post.title|e('esc_html')}}</h1>
    <p class="uk-text-uppercase uk-margin-bottom-remove uk-text-emphasis">{{post.date|date('j F Y')}}</p>
  </div>
{% endblock %}

{% block contentwrap %}
  <article id="Post-{{post.id|e('esc_html')}}" class="uk-section {{post.class|e('esc_html')}}">
    
    {# single post featured image #}
    {% if post.thumbnail %}
      <section class="single-thumbnail uk-container uk-container-small uk-margin-medium-bottom">
        <figure>
          <img data-src="{{ post.thumbnail.src|resize(900, 700)|e('esc_url') }}" alt="{{ post.thumbnail.alt|e('esc_html') }}" 
          class="uk-border-rounded" width="900" height="700" uk-img>
        </figure>
      </section>
    {% endif %}
    
    {# single post content #}
    <section class="single-content uk-container uk-container-xsmall uk-margin-medium-bottom">
      {{post.content}}
    </section>
    
    {# single post meta: author & share #}
    <section class="single-meta uk-container uk-container-xsmall">
      <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <div>
            <span class="uk-text-meta">{{ _x('Written by:', 'Post', 'serchek-theme')|e('esc_html') }} {{post.author|e('esc_html')}}</span>
          </div>
        </div>
        <div class="uk-width-auto">
          <div>
            <div class="social-icons uk-grid-small uk-child-width-auto" uk-grid>
              <div><a href="https://www.facebook.com/sharer.php?u={{post.link|url_encode}}"><i class="fab fa-facebook-f"></i></a></div>
              <div><a href="https://twitter.com/share?text={{post.title|url_encode}}&url={{post.link|url_encode}}"><i class="fab fa-twitter"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {# single post pagination #}
    <section class="single-pagination uk-container uk-container-xsmall uk-margin-medium-top">
      <div class="article-pagination uk-child-width-1-2" uk-grid>
        <div class="prev-article uk-text-left">
          {% if post.next %}
            <a href="{{ post.next.link|e('esc_url') }}" class="uk-link-reset">
              <div class="uk-text-emphasis"><i class="fas fa-angle-left"></i> {{ _x('Previous Article', 'Post', 'serchek-theme')|e('esc_html') }}</div>
              <div class="uk-text-small uk-text-italic uk-width-large uk-visible@m">{{ post.next.title|e('esc_html') }}</div>
            </a>
          {% endif %}
        </div>
        <div class="next-article uk-text-right">
          {% if post.prev %}
            <a href="{{ post.prev.link|e('esc_url') }}" class="uk-link-reset">
              <div class="uk-text-emphasis">{{ _x('Next Article', 'Post', 'serchek-theme')|e('esc_html') }} <i class="fas fa-angle-right"></i></div>
              <div class="uk-text-small uk-text-italic uk-width-large uk-visible@m">{{ post.prev.title|e('esc_html') }}</div>
            </a>
          {% endif %}
        </div>
      </div>
    </section>

    {# single post comments: disabled #}
    {% if fn('comments_open') %}
      {# include 'comments.twig' #}
    {% endif %}
    
  </article>
{% endblock %}