<section class="uk-child-width-1-2@m uk-grid-match uk-flex uk-flex-middle uk-grid-collapse uk-background-default uk-text-center" uk-grid>
  <div class="uk-padding">
    <h3>{{ _x('Pharma Doors', 'Contact section title line 1', 'serchek-theme')|e('esc_html') }}<br>{{ _x('by Serchek Industrial Ireland Ltd.', 'Contact section title line 2', 'serchek-theme')|e('esc_html') }}</h3>
    <p class="uk-margin-small">
      {{ _x('Zone A, Mullingar Business Park', 'Contact section address line 1', 'serchek-theme')|e('esc_html') }}<br>
      {{ _x('Mullingar, Co. Westmeath, N91 R761', 'Contact section address line 2', 'serchek-theme')|e('esc_html') }}
    </p>
    <p class="uk-margin-small">
      Tel: <a class="uk-link-reset" href="tel:{{ _x('044 9345884', 'Contact section phone no.', 'serchek-theme')|e('esc_html') }}">{{ _x('044 9345884', 'Contact section phone no.', 'serchek-theme')|e('esc_html') }}</a><br>
      Email: <a class="uk-link-reset" href="mailto:{{ _x('info@serchek.com', 'Contact section email', 'serchek-theme')|e('esc_html') }}">{{ _x('info@serchek.com', 'Contact section email', 'serchek-theme')|e('esc_html') }}</a>
    </p>
    <div class="uk-margin-top">
      <a class="feature-link uk-text-uppercase uk-text-emphasis" target="_blank" href="{{ _x('https://pharmadoors.ie/contact', 'Contact section button link', 'serchek-theme')|e('esc_url') }}">
        {{ _x('Contact us', 'Contact section button text', 'serchek-theme')|e('esc_html') }}
      </a>
    </div>
  </div>
  <div class="uk-visible@m">
    <img 
    data-src="{{ _x('https://pharmadoors.ie/wp-content/themes/serchek-theme/assets/images/clean_room_cover.jpg', 'Contact section background image url', 'serchek-theme')|e('esc_url') }}" 
    width="1080" height="675" 
    class="contact-section-img" 
    alt="{{ _x('Alt text', 'Contact section background image alt', 'serchek-theme')|e('esc_html') }}"
    uk-img>
  </div>
</section>
<img 
src="{{ _x('https://pharmadoors.ie/wp-content/themes/serchek-theme/assets/images/clean_room_cover.jpg', 'Contact section background image url', 'serchek-theme')|e('esc_url') }}" 
class="uk-hidden@m" 
>