<footer class="the-footer">
  <div class="footer-main uk-section uk-section-default theme-border-top">
    <div class="uk-container">
      <div class="uk-child-width-1-4@m" uk-grid>
        <div class="footer-menu-1">
          {% if has_footer_menu_1 %}
            {% set footer_menu_1_title = footer_menu_1.title %}
          {% else %}
            {% set footer_menu_1_title = 'Footer Menu 1' %}
          {% endif %}
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">{{ footer_menu_1_title|e('esc_html') }}</h4>
          <ul class="uk-nav uk-nav-default">
            {% if has_footer_menu_1 %}
              {% for item in footer_menu_1.get_items %}
                <li><a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
              {% endfor %}
            {% else %}
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Excepteur sint</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="footer-menu-2">
          {% if has_footer_menu_2 %}
            {% set footer_menu_2_title = footer_menu_2.title %}
          {% else %}
            {% set footer_menu_2_title = 'Footer Menu 2' %}
          {% endif %}
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">{{ footer_menu_2_title|e('esc_html') }}</h4>
          <ul class="uk-nav uk-nav-default">
            {% if has_footer_menu_2 %}
              {% for item in footer_menu_2.get_items %}
                <li><a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
              {% endfor %}
            {% else %}
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Excepteur sint</a></li>
              <li><a href="#">Duis aute irure</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="footer-menu-3">
          {% if has_footer_menu_3 %}
            {% set footer_menu_3_title = footer_menu_3.title %}
          {% else %}
            {% set footer_menu_3_title = 'Footer Menu 3' %}
          {% endif %}
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">{{ footer_menu_3_title|e('esc_html') }}</h4>
          <ul class="uk-nav uk-nav-default">
            {% if has_footer_menu_3 %}
              {% for item in footer_menu_3.get_items %}
                <li><a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
              {% endfor %}
            {% else %}
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Excepteur sint</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="footer-menu-3">
          {% if has_footer_menu_4 %}
            {% set footer_menu_4_title = footer_menu_4.title %}
          {% else %}
            {% set footer_menu_4_title = 'Footer Menu 4' %}
          {% endif %}
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">{{ footer_menu_4_title|e('esc_html') }}</h4>
          <ul class="uk-nav uk-nav-default">
            {% if has_footer_menu_4 %}
              {% for item in footer_menu_4.get_items %}
                <li><a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
              {% endfor %}
            {% else %}
              <li><a href="#">Lorem Ipsum</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Excepteur sint</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom uk-section uk-section-small uk-section-default theme-border-top">
    <div class="uk-container">
      <div class="uk-grid-match uk-flex uk-flex-middle uk-flex-center" uk-grid>
        <div class="footer-copy uk-width-1-1 uk-width-expand@m">
          <div class="uk-width-2-3 uk-width-1-1@m uk-align-center uk-align-left@m uk-text-center uk-text-left@m">
            © {{ "now"|date("Y") }} {{ _x('Dream Winners. All rights reserved.', 'Footer Copyright Text', 'cautious-octo-fiesta')|e('esc_html') }}
          </div>
        </div>
        <div class="payment-icons uk-width-auto">
          <div class="static-payment-icons uk-grid-small uk-child-width-auto" uk-grid>
            {% include 'payment-icons.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>