<section class="subscribe-section above-footer uk-section uk-section-small uk-section-default theme-border-top">
  <div class="uk-container uk-container-small uk-text-center">
    <div class="uk-margin-bottom uk-text-emphasis">
      <i class="far fa-envelope fa-2x"></i>
    </div>
    <h2 class="uk-margin-remove-top uk-text-bold">Sign up for first access to new competitions, sales & events</h2>
    <div class="uk-margin-top">
      <div uk-form-custom="target: true">
        <input type="text" class="subscribe-form uk-input uk-form-width-large uk-form-large" type="text" placeholder="Enter your email here..">
      </div>
      <button class="uk-button uk-button-primary uk-button-large">Subscribe</button>
    </div>
    <p class="uk-text-emphasis">Get notified when we launch.</p>
  <div>
</section>

<footer class="the-footer">
  <div class="footer-main uk-section uk-section-default theme-border-top">
    <div class="uk-container">
      <div class="uk-child-width-1-4@m" uk-grid>
        <div>
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">Competitions</h4>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Sed do eiusmod</a></li>
            <li><a href="#">Excepteur sint</a></li>
          </ul>
        </div>
        <div>
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">About</h4>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Sed do eiusmod</a></li>
            <li><a href="#">Excepteur sint</a></li>
            <li><a href="#">Duis aute irure</a></li>
          </ul>
        </div>
        <div>
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">Support</h4>
          <ul class="uk-nav uk-nav-default">
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Sed do eiusmod</a></li>
            <li><a href="#">Excepteur sint</a></li>
          </ul>
        </div>
        <div>
          <h4 class="uk-h6 uk-text-uppercase uk-text-bold">Contact</h4>
          <p>
            We’re available by phone 123-456-789<br>
            Monday till Friday 10 to 6 EST
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom uk-section uk-section-small uk-section-default theme-border-top">
    <div class="uk-container">
      <div class="uk-grid-match uk-flex uk-flex-middle uk-flex-center" uk-grid>
        <div class="uk-width-1-1 uk-width-expand@m">
          <div class="uk-width-2-3 uk-width-1-1@m uk-align-center uk-align-left@m uk-text-center uk-text-left@m">
            © 2021 {{site.title}}. All rights reserved.
          </div>
        </div>
        <div class="uk-width-auto">
          <div class="payment-icons uk-grid-small uk-child-width-auto" uk-grid>
            <div>
              <img alt="american_express" src="{{theme.link}}/assets/images/american_express.svg">
            </div>
            <div>
              <img alt="apple_pay" src="{{theme.link}}/assets/images/apple_pay.svg">
            </div>
            <div>
              <img alt="google_pay" src="{{theme.link}}/assets/images/google_pay.svg">
            </div>
            <div>
              <img alt="maestro" src="{{theme.link}}/assets/images/maestro.svg">
            </div>
            <div>
              <img alt="master" src="{{theme.link}}/assets/images/master.svg">
            </div>
            <div>
              <img alt="visa" src="{{theme.link}}/assets/images/visa.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>