<nav class="header-navbar uk-navbar-container uk-container uk-container-expand uk-section uk-section-small" uk-navbar>
  
  <div class="uk-navbar-left">
    <a class="uk-text-emphasis logo-svg uk-link-reset" href="{{ site.url|e('esc_url') }}">
      {% if theme_logo_url %}
        <img src="{{ theme_logo_url|resize(253)|e('esc_url')|default(theme.link ~ '/assets/images/logos/logo.svg') }}" width="253" height="39" uk-svg>
      {% else %}
        <span class="uk-h2">{{site.title}}</span>
      {% endif %}
    </a>
  </div>
  
  <div class="uk-navbar-center" hidden>
    <ul class="main-menu main-nav uk-navbar-nav uk-visible@l">
      {% if has_menu_main %}
        {% for item in menu_main.get_items %}
          {% if item.get_children %}
            <li class="{{ item.classes | join(' ') }}">
              <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}
                <i class="fas fa-angle-down uk-margin-small-left"></i>
              </a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  {% for child in item.get_children %}
                    <li class="{{ child.classes | join(' ') }}">
                      <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                      {% if child.children %}
                        <ul class="uk-nav-sub">
                          {% for third in child.children %}
                            <li class="{{ third.classes | join(' ') }}">
                              <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% else %}
            <li class="{{ item.classes | join(' ') }}">
              <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li>
          Add a menu to the Main Menu slot in Appearance > Menus
        </li>
      {% endif %}
    </ul>
    <a class="mobile-menu-toggle uk-navbar-toggle uk-hidden@l uk-text-emphasis" uk-navbar-toggle-icon href="#MobileOffCanvas" uk-toggle></a>
  </div>
  
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <a class="uk-button uk-button-primary" target="_blank" href="{{ __('/contact', 'serchek-theme') }}">
        {{ __('Contact us', 'serchek-theme')|e('esc_html') }} <i class="far fa-envelope uk-margin-small-left"></i>
      </a>
    </div>
  </div>
  
</nav>