{% set mobile_title = _x('Loading Dock by Serchek Industrial Ireland Ltd.', 'Homepage cover - title', 'rmcc-theme')|e('esc_html') %}
{% set mobile_address_1 = _x('Zone A, Mullingar Business Park', 'Homepage address - line 1', 'rmcc-theme')|e('esc_html') %}
{% set mobile_address_2 = _x('Mullingar, Co. Westmeath, N91 R761', 'Homepage address - line 2', 'rmcc-theme')|e('esc_html') %}
{% set mobile_phone = _x('044 9345884', 'Homepage phone no.', 'rmcc-theme')|e('esc_html') %}
{% set mobile_email = _x('info@serchek.com', 'Homepage email', 'rmcc-theme')|e('esc_html') %}

{% set tel_text = 'Tel:' %}
{% set email_text = 'Email:' %}

{% set logo = '/wp-content/themes/rmcc-theme/assets/images/logos/serchek_logo.jpg' %}
{% set logo_link = 'https://www.industrialdoors.ie/' %}

<nav id="MobileOffCanvas" class="mobile-slide-navbar" uk-offcanvas="overlay: true;" data-template="header-mobile-offcanvas.twig">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    {% if has_menu_mobile %}
      <ul class="uk-nav-default uk-nav-parent-icon uk-position-relative" uk-nav>
        <li class="uk-nav-header theme-border-bottom">Menu</li>
        {% for item in menu_mobile.get_items %}
          {% if item.get_children %}
            <li class="theme-border-bottom {{ item.classes | join(' ') }} uk-parent">
              <a href="{{ item.link }}">{{ item.title }}</a>
              <ul class="uk-nav-sub">
                {% for child in item.get_children %}
                  <li class="theme-border-top {{ child.classes | join(' ') }}">
                    <a href="{{ child.get_link }}">- {{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="theme-border-bottom {{ item.classes | join(' ') }}">
              <a href="{{ item.get_link }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="uk-margin-small-left uk-margin-small-right">
      <h5 class="uk-margin-top">{{ mobile_title }}</h5>
      <div class="uk-text-small">
        <div class="address">
          <p class="uk-margin-small">
            {{ mobile_address_1 }}, {{ mobile_address_2 }}
          </p>
        </div>
        <p class="uk-margin-small">
          <strong>{{tel_text}}</strong> <a class="uk-link-reset" href="tel:{{ mobile_phone }}">{{ mobile_phone }}</a>
        </p>
        <p class="uk-margin-small uk-margin-large-bottom">
          <strong>{{email_text}}</strong> <a class="uk-link-reset" href="mailto:{{ mobile_email }}">{{ mobile_email }}</a>
        </p>
        <a href="{{logo_link}}" target="_blank" class="uk-link-reset">
          <img data-src="{{logo}}" width="253" height="85" uk-img>
        </a>
      </div>
    </div>
  </div>
</nav>