<div class="shop-fixednav shop-fixednav-label-show">
  <div class="uk-container">
    <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
      <div class="uk-text-center">
        <a class="uk-link-text" href="{{shop_url|e('esc_url')}}">
          <i class="far fa-clock fa-lg"></i>
          <div class="uk-text-small">{{ __('Competitions', 'ned-murphy-tractors-theme') }}</div>
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="{{contact_page_link|e('esc_url')|default('#')}}">
          <i class="far fa-envelope fa-lg"></i>
          <div class="uk-text-small">{{ __('Contact', 'ned-murphy-tractors-theme') }}</div>
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="{{dashboard_endpoint|e('esc_url')}}">
          <svg class="user" cwidth="24px" height="24px" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
          {% if not user %}
            <div class="uk-text-small">{{ __('Login/Signup', 'ned-murphy-tractors-theme') }}</div>
          {% else %}
            <div class="uk-text-small">{{ __('Account', 'ned-murphy-tractors-theme') }}</div>
          {% endif %}
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="/basket">
          <svg class="basket" width="24px" height="24px" viewBox="0 -2 37 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g transform="translate(0.500000, 0.500000)" stroke="none" fill="currentColor" fill-rule="nonzero">
              <path d="M0.2,11 L9.5,29 L26.4,29 L35.7,11 L0.2,11 Z M24.5,26 L11.5,26 L4.8,14 L31.2,14 L24.5,26 L24.5,26 Z M18.5,3 C22.7,3 25.5,6.3 25.5,8.5 L28.5,8.5 C28.5,4.5 24.2,0 18.5,0 C12.8,0 8.5,4.5 8.5,8.5 L11.5,8.5 C11.5,6.3 14.3,3 18.5,3 Z">
              </path>
            </g>
          </svg>
          <span class="">
            {% do action('cart_ajax_result_count') %}
          </span>
          <div class="uk-text-small">{{ __('Basket', 'ned-murphy-tractors-theme') }}</div>
        </a>
      </div>
    </div>
  </div>
</div>