{% if loop.index0 % 2 == 0 %}
  {% set flip_class = 'uk-flex-first' %}
{% endif %}
{% if loop.index0 % 2 == 1 %}
  {% set flip_class = 'uk-flex-last@m' %}
{% endif %}
<article id="Post{{post.id}}" class="tease-post {{post.class}}">
  <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
    <div class="tease-image uk-width-1-2@m {{flip_class}}">
      <a class="uk-link-reset" href="{{post.link}}">
        <img 
        class="uk-border-rounded square-img-to-landscape-mobile" 
        data-src="{{ post.thumbnail.src|resize(500, 400)|default('https://picsum.photos/500/400?random=' ~ loop.index) }}" 
        width="500" height="400" alt="{{post.thumbnail.alt}}" 
        uk-img>
      </a>
    </div>
    <div class="tease-content uk-width-1-2@m">
      <div class="tease-content-wrap uk-text-center">
        <a class="uk-link-reset" href="#">
          <h2 class="tease-title uk-margin-remove-top">{{post.title}}</h2>
        </a>
        <div class="tease-meta uk-text-meta">
          <time class="post-date">{{ post.date }}</time>
          <span class="post-cat">
            {{ post.terms( {query:{taxonomy:'category', orderby:'name', order: 'ASC', parent: 0, childless: 0, child_of: 0}} )|join(', ') }}
          </span>
        </div>
        <p class="tease-excerpt">{{ post.preview.length(63).force.read_more('') }}</p>
        <a href="{{post.link}}" class="uk-button uk-button-default uk-button-large">Read more</a>
      </div>
    </div>
  </div>
</article>