{% extends "base.twig" %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'main-nav.twig' %}
      </div>
    </div>
    <img class="cover-img home-cover-img" src="{{theme.link}}/assets/images/stock2.jpg" alt="">
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-large-top">{{ __('Homepage Hero Introduction Text', 'cautious-octo-fiesta') }}</h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">{{ __('Homepage Hero Sub Text', 'cautious-octo-fiesta') }}</p>
          <a href="#Next" class="uk-button uk-button-default uk-button-large" uk-scroll="offset:150">Learn more</a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}
  <section id="Next" class="uk-section uk-section-primary">
    <div class="uk-text-center uk-container uk-container-xsmall">
      <h2 class="uk-h3">{{ __('Homepage Featured Section', 'cautious-octo-fiesta') }}</h2>
      <p>{{ __('Homepage Featured Section text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', 'cautious-octo-fiesta') }}</p>
      <a class="feature-link uk-text-uppercase" href="#">{{ __('Featured Link Text', 'cautious-octo-fiesta') }}</a>
    </div>
  </section>
  <section class="content-section uk-section uk-section-large uk-section-default">
    <div class="uk-text-center uk-container uk-container-small">
      Some Competitions will go here..
    </div>
  </section>
{% endblock %}