{% extends 'page.twig' %}

{% block contentwrap %}

  <section class="uk-section uk-container uk-container-xsmall" data-template="contact.twig">
      
    <div class="contact-page-info">
      
      {{contact_page_text}}
      
      <hr>
    
      <p class="uk-text-bold uk-text-emphasis">
        {{base_address|e('esc_html')|default('Base address 1')}},<br>
        {{base_address_2|e('esc_html')|default('Base address 2')}},<br>
        {{base_city|e('esc_html')|default('Base city')}},<br>
        {{base_county|e('esc_html')|default('Base county')}},<br>
        {{ __('Eircode:', 'cautious-octo-fiesta') }} {{base_eircode|e('esc_html')|default('Eircode')}}.
      </p>
      
      <p class="uk-text-bold uk-text-emphasis">
        Tel: {{company_phone_number|e('esc_html')}}<br>
        Email: {{display_email|e('html_attr')}}
      </p>
      
      <hr>
    
    </div>
    
    <div class="contact-page-form">
        
      {{ function('do_shortcode', '[contact-form-7 title="Contact"]') }}
    
    </div>

  </section>
{% endblock %}