{% set next = _x('Next Page', 'Pagination', 'dream-winners')|e('esc_html') %}
{% set prev = _x('Previous Page', 'Pagination', 'dream-winners')|e('esc_html') %}

<div class="pagination" data-template="pagination.twig">
  <ul class="uk-pagination uk-flex-center uk-margin-remove">
    {% if pagination.prev %}
      <li>
        <a href="{{pagination.prev.link|e('esc_url')}}" class="prev">
          <i uk-icon="icon: chevron-left"></i> {{ prev }}
        </a>
      </li>
    {% endif %}
    {% for page in pagination.pages %}
      <li>
        {% if page.link %}
          <a href="{{page.link|e('esc_url')}}" class="{{page.class}}">{{page.title}}</a>
        {% else %}
          <span class="{{page.class}}">{{page.title}}</span>
        {% endif %}
      </li>
    {% endfor %}
    {% if pagination.next %}
      <li>
        <a href="{{pagination.next.link|e('esc_url')}}" class="next">
          {{ next }} <i uk-icon="icon: chevron-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>