<div id="FiltersFormDropArea" class="">
  {% if configs.blog_filters_properties.types is not empty %}
    {% for item in configs.blog_filters_properties.types %}

      {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
      {% if not (configs.disable_post_tags and item.taxKey == 'post_tag') %}
        {# do as normal here #}
        {% if item.parentGroupId %}

          {# parent drop area (when has subs) #}
          <div id="{{ item.parentGroupId ~ '_filters' }}" class="filter-area">
            <div class="rmcc-padding rmcc-background-default">
              <div id="{{ item.parentGroupId }}" class="rmcc-grid-small rmcc-child-width-auto rmcc-margin-remove rmcc-grid">

                {# loop the inputs into the drop area #}
                {% for _item in fn('terms_for_filters', item.taxKey) %}
                  <label class="rmcc-form-label">
                    <input 
                    class="rmcc-checkbox rmcc-border-rounded 
                    {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) or fn('is_term_parent_of_active', _item.term_id, item.altQueryKey, item.taxKey) ? 'prevent-unclick' }} 
                    {{ fn('does_term_have_children', _item.term_id) ? 'has-children' }}"
                    type="checkbox" name="{{ item.formQueryKey }}" id="{{ _item.term_id|e('esc_html') }}" value="{{ _item.slug|e('esc_html') }}"
                    {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) or fn('is_term_parent_of_active', _item.term_id, item.altQueryKey, item.taxKey) ? 'checked' }}> {{ _item.name|e('esc_html') }}
                  </label>
                {% endfor %}

              </div>
            </div>
            {% include 'archive/filters/form/buttons.twig' %}
          </div>

          {# sub drop area #}
          <div id="{{ item.subId ~ '_filters' }}" class="filter-area">
            <div class="rmcc-padding rmcc-background-default">

              {# the inputs will be javascript'd into the sub area when parents are selected on frontend #}
              <div id="{{ item.subGroupId|e('esc_html') }}" class="rmcc-grid-small rmcc-child-width-auto rmcc-margin-remove rmcc-grid"></div>

            </div>
            {% include 'archive/filters/form/buttons.twig' %}
          </div>

        {% else %}

          {# parent only drop area (no subs) #}
          <div id="{{ item.formQueryKey ~ '_filters' }}" class="filter-area">
            <div class="rmcc-padding rmcc-background-default">
              <div id="" class="rmcc-grid-small rmcc-child-width-auto rmcc-margin-remove rmcc-grid">

                {# loop the inputs into the drop area #}
                {% for _item in fn('terms_for_filters', item.taxKey, false) %}
                  <label class="rmcc-form-label">
                    <input
                    class="rmcc-checkbox rmcc-border-rounded {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) ? 'prevent-unclick' }}"
                    type="checkbox"
                    name="{{ item.formQueryKey|e('esc_html') }}" id="{{ _item.term_id|e('esc_html') }}" value="{{ _item.slug|e('esc_html') }}"
                    {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) ? 'checked' }}>
                    {{ _item.name|e('esc_html') }}
                  </label>
                {% endfor %}

              </div>
            </div>
            {% include 'archive/filters/form/buttons.twig' %}
          </div>

        {% endif %}
      {% endif %}
      
    {% endfor %}
  {% endif %}
</div>