{% extends "base.twig" %}

{% block header %}

  <!-- header v1 -->
  <header class="uk-inline" hidden>
    
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    
    <img 
    class="cover-img home-cover-img" 
    data-src="{{post.thumbnail.src|resize(1920)|default(options.site_featured_image.url|resize(1920))|default(theme.link ~ '/assets/images/place1.jpg')|e('esc_url')}}" 
    alt="{{post.thumbnail.alt|default(options.site_featured_image.alt)|e('esc_html')}}" 
    data-width data-height 
    uk-height-viewport 
    uk-img>
    
    <div class="uuk-overlay-primary uk-position-cover">
      <div class="uk-position-top-left uk-overlay uk-overlay-default" hidden>Top Left</div>
      <div class="uk-position-top-center uk-overlay uk-overlay-default" hidden>Top Center</div>
      <div class="uk-position-top-right uk-overlay uk-overlay-default" hidden>Top Right</div>
      <div class="uk-position-center-left uk-overlay uk-overlay-default" hidden>Center Left</div>
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-large-top">
            {{ __('Lorem ipsum dolor sit amet consectetur', 'serchek-theme')|e('esc_html') }}
          </h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">
            {{ __('Lorem ipsum dolor sit amet', 'serchek-theme')|e('esc_html') }}
          </p>
          <a href="#Next" class="uk-button uk-button-primary uk-button-large scroll">
            {{ __('Learn more', 'serchek-theme')|e('esc_html') }}
          </a>
        </div>
      </div>
      <div class="uk-position-center-right uk-overlay uk-overlay-default" hidden>Center Right</div>
      <div class="uk-position-bottom-left uk-padding-small uk-overlay-default uk-text-left">
        Serchek Industrial Ireland Ltd,<br>
        Zone A, Mullingar Business Park,<br>
        Mullingar, Co. Westmeath, N91 R761.<br>
        Tel: 044 9345884<br>
        Email: info@serchek.com
      </div>
      <div class="uk-position-bottom-center uk-overlay uk-overlay-default" hidden>Bottom Center</div>
      <div class="uk-position-bottom-right uk-overlay uk-overlay-default" hidden>Bottom Right</div>
    </div>
    
  </header>
  
  <!-- header v2 -->
  <header class="uk-inline" hidden>
    
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    
    <img 
    class="cover-img home-cover-img" 
    data-src="{{post.thumbnail.src|resize(1920)|default(options.site_featured_image.url|resize(1920))|default(theme.link ~ '/assets/images/place1.jpg')|e('esc_url')}}" 
    alt="{{post.thumbnail.alt|default(options.site_featured_image.alt)|e('esc_html')}}" 
    data-width data-height 
    uk-height-viewport 
    uk-img>
    
    <div class="uk-position-cover">
      <div class="uk-position-top-left uk-overlay uk-overlay-default" hidden>Top Left</div>
      <div class="uk-position-top-center uk-overlay uk-overlay-default" hidden>Top Center</div>
      <div class="uk-position-top-right uk-overlay uk-overlay-default" hidden>Top Right</div>
      <div class="uk-position-center-left uk-overlay uk-overlay-default" hidden>Center Left</div>
      <div class="uk-position-center uk-overlay uk-overlay-default">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-remove-top">{{ __('Lorem ipsum dolor sit amet consectetur', 'serchek-theme')|e('esc_html') }}</h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">{{ __('Lorem ipsum dolor sit amet', 'serchek-theme')|e('esc_html') }}</p>
          <a href="#Next" class="uk-button uk-button-primary uk-button-large scroll">{{ __('Learn more', 'serchek-theme')|e('esc_html') }}</a>
        </div>
      </div>
      <div class="uk-position-center-right uk-overlay uk-overlay-default" hidden>Center Right</div>
      <div class="uk-position-bottom-left uk-overlay uk-overlay-default" hidden>Bottom Left</div>
      <div class="uk-position-bottom-center uk-overlay uk-overlay-default" hidden>Bottom Center</div>
      <div class="uk-position-bottom-right uk-overlay uk-overlay-default" hidden>Bottom Right</div>
    </div>
    
  </header>
  
  <!-- header v3: no header -->
  <header class="uk-inline">
    
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light uuk-overlay-default; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    
    <img 
    class="cover-img home-cover-img" 
    data-src="{{post.thumbnail.src|resize(1920)|default(options.site_featured_image.url|resize(1920))|default(theme.link ~ '/assets/images/clean_room_cover.jpg')|e('esc_url')}}" 
    alt="{{post.thumbnail.alt|default(options.site_featured_image.alt)|e('esc_html')}}" 
    data-width data-height 
    uuk-height-viewport 
    uk-img>
    
    <div class="uk-overlay-primary uk-position-cover uk-padding-small">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-large-top">
            {{ __('Welcome to', 'serchek-theme')|e('esc_html') }} {{site.title}}
          </h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">
            {{ __('Clean Room Doors by Serchek Industrial Ireland Ltd', 'serchek-theme')|e('esc_html') }}
          </p>
          <a href="#Next" class="uk-button uk-button-primary uk-button-large scroll">
            {{ __('Learn more', 'serchek-theme')|e('esc_html') }}
          </a>
        </div>
      </div>
    </div>
    
  </header>
  
{% endblock %}

{% block contentwrap %}

  <section id="Next" class="uk-section uk-section-primary">
    <div class="uk-text-center uk-container uk-container-xsmall">
      <h2 class="uk-h3">
        {{ __('Pharma Doors by Serchek Industrial Ireland Ltd', 'serchek-theme')|e('esc_html') }}
      </h2>
      <hr class="uk-divider-small">
      <p>
        {{ __('Zone A, Mullingar Business Park, Mullingar, Co. Westmeath, N91 R761.', 'serchek-theme')|e('esc_html') }}<br>
        Tel: 
        <a href="tel:{{ __('044 9345884', 'serchek-theme')|e('esc_html') }}">
          {{ __('044 9345884', 'serchek-theme')|e('esc_html') }}
        </a>
        Email: 
        <a href="mailto:{{ __('info@serchek.com', 'serchek-theme')|e('esc_html') }}">
          {{ __('info@serchek.com', 'serchek-theme')|e('esc_html') }}
        </a>
      </p>
      <a class="feature-link uk-text-uppercase" target="_blank" href="{{ __('https://www.industrialdoors.ie/', 'serchek-theme') }}">
        {{ __('Go to Serchek Website', 'serchek-theme')|e('esc_html') }}
      </a>
    </div>
  </section>
  
  <section class="uk-section uk-section-muted" hidden>
    <div class="uk-container">
      <div class="uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid="">
        <a class="uk-link-reset">
          <div class="uk-card uk-card-hover uk-card-large uk-card-default uk-card-body">
            <h2>“High Speed” Clean Room Doors</h2>
          </div>
        </a>
        <a class="uk-link-reset">
          <div class="uk-card uk-card-hover uk-card-large uk-card-default uk-card-body">
            <h2>“Steel Pedestrian” Clean Room Doors</h2>
          </div>
        </a>
        <a class="uk-link-reset">
          <div class="uk-card uk-card-hover uk-card-large uk-card-default uk-card-body">
            <h2>Smart Automated Doors</h2>
          </div>
        </a>
        <a class="uk-link-reset">
          <div class="uk-card uk-card-hover uk-card-large uk-card-default uk-card-body">
            <h2>Clean Room Windows</h2>
          </div>
        </a>
        <a class="uk-link-reset">
          <div class="uk-card uk-card-hover uk-card-large uk-card-default uk-card-body">
            <h2>Members Resources (Manuals & Videos)</h2>
          </div>
        </a>
      </div>
    </div>
  </section>
  
  {# post.content #}
  
{% endblock %}