{# translation-ready, escaped, formatted, semantic #}
<div class="pagination" data-template="pagination.twig">
  <ul class="uk-pagination uk-flex-center uk-margin-remove">
    {% if pagination.prev %}
      <li>
        <a href="{{pagination.prev.link|e('esc_url')}}" class="prev">
          <i uk-icon="icon: chevron-left"></i> {{ _x('Previous Page', 'Pagination', 'serchek-theme')|e('esc_html') }}
        </a>
      </li>
    {% endif %}
    {% for page in pagination.pages %}
      <li>
        {% if page.link %}
          <a href="{{page.link|e('esc_url')}}" class="{{page.class|e('esc_html')}}">{{page.title|e('esc_html')}}</a>
        {% else %}
          <span class="{{page.class|e('esc_html')}}">{{page.title|e('esc_html')}}</span>
        {% endif %}
      </li>
    {% endfor %}
    {% if pagination.next %}
      <li>
        <a href="{{pagination.next.link|e('esc_url')}}" class="next">
          {{ _x('Next Page', 'Pagination', 'serchek-theme')|e('esc_html') }} <i uk-icon="icon: chevron-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>