<ul class="rmcc-grid rmcc-grid-medium rmcc-flex rmcc-flex-middle" rmcc-grid>

  <li class="rmcc-width-1-6 rmcc-width-auto@m">
    <img src="{{ post.author.avatar|e('esc_url') }}" class="rmcc-border-circle">
  </li>

  <li class="rmcc-width-expand">
    {% set authr_link %}
      <a href="{{ post.author.link|e('esc_url') }}">{{ post.author|e('esc_html') }}</a>
    {% endset %}
    <h2 class="rmcc-margin-small-bottom rmcc-h4">{{ _x('Posted by %s', 'Single: author', 'rmcc-theme')|e('esc_html')|format(authr_link) }}</h2>
    <p class="rmcc-text-small rmcc-text-muted rmcc-margin-remove">{{ post.author.description|e('esc_html') }}</p>
  </li>

  <li class="rmcc-width-auto">
    <div class="rmcc-inline">
      <a href="#" class="rmcc-icon-button rmcc-icon" rmcc-icon="icon:more-vertical"></a>
      <div rmcc-dropdown="mode:click; pos: bottom-right; boundary:#author-wrap">
        <ul class="rmcc-nav rmcc-dropdown-nav">
          <li class="rmcc-nav-header">{{ _x('Actions', 'Single: author', 'rmcc-theme')|e('esc_html') }}</li>
          <li><a href="{{ post.author.link|e('esc_url') }}">{{ _x('More articles by this author', 'Single: author', 'rmcc-theme')|e('esc_html') }} <span rmcc-icon="icon: arrow-right"></span></a></li>
        </ul>
      </div>
    </div>
  </li>

</ul>