{#
/**
 * Block Name: Cover left section
 *
 * This is the template that displays the Cover left section block.
 */
#}

{% if is_preview %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
{% endif %}

{% set image_src = Image(fields.image).src|resize(1920, 800)|default(default_theme_img_loading) %}
{% set image_alt = Image(fields.image).alt|default('Cover image') %}

{% set _cover_title = 'Loading Dock by Serchek Industrial Ireland Ltd.' %}
{% set _cover_desc = 'Loading Dock installs "High Speed" & "Steel Pedestrian" Clean Room Doors, Clean Room Windows & Smart Automated Doors.' %}
{% set _cover_address = 'Zone A, Mullingar Business Park, Mullingar, Co. Westmeath, N91 R761' %}
{% set _cover_phone = '044 9345884' %}
{% set _cover_email = 'info@serchek.com' %}

{% set cover_title = fields.cover_title|default(_cover_title) %}
{% set cover_desc = fields.cover_desc|default(_cover_desc) %}
{% set cover_address = fields.cover_address|default(_cover_address) %}
{% set cover_phone = fields.cover_phone|default(_cover_phone) %}
{% set cover_email = fields.cover_email|default(_cover_email) %}

{% set tel_text = 'Tel:' %}
{% set email_text = 'Email:' %}

<div id="CoverSection" class="uk-inline headercover">
  <img class="cover-img home-cover-img" 
  {% if not is_preview %}data-{% endif %}src="{{image_src}}" 
  alt="{{image_alt}}" 
  data-width data-height {% if not is_preview %}uk-img{% endif %}>
  <div class="uk-position-cover uk-overlay uk-overlay-primary overlay-contained">
    <div class="uk-position-cover uk-container uk-container-large uk-flex uk-flex-middle">
      <div class="uk-width-large cover-content">
        <h1 class="uk-heading-small">{{ cover_title }}</h1>
        <p class="uk-text-lead">{{ cover_desc }}</p>
      </div>
    </div>
    <div class="uk-position-bottom-center uk-position-small uk-text-center">
      <span>{{ cover_address }} | </span>
      <span>{{tel_text}} <a href="tel:{{ cover_phone }}">{{ cover_phone }}</a> </span>
      <span>{{email_text}} <a href="mailto:{{ cover_email }}">{{ cover_email }}</a></span>
    </div>
  </div>
</div>